.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
  margin-top: 16px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.mat-button {
  margin: 0.5rem 1rem;
}

.mat-raised-button {
  margin: 0.5rem 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0 1em;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 400px;
}
